body{
    width: 100%;
    text-align: center;
    display: inline-flex;
}

.label {
    display: inline-flex;
    color: red;
}

.designPattern{
    color: blue;
}

.jsEventFlow {
    margin-top: 25px;
    margin-bottom: 25px;
}

#table1 {
    width: 50%;
}

#table2 {
    width: 50%;
    white-space: pre;
}
